@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor1: #BD2A2E;
    --cor2: #3B3936;
    --cor3: #B2BEBF;
    --cor4: #889C9B;
    --cor5: #486966;     
}

body{
    min-height: 100vh;
    min-width: 100vw;
    background-image: linear-gradient(45deg, var(--cor3), transparent);
    position: relative;
}

main{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.301);
    padding: 20px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
    font-size: 2em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.329);
}

h1{
    font-size: 1.5em;
    margin-bottom: 40px;
    padding: 10px;
    color: var(--cor1);
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

p{
    text-align: left;
    font-size: 1em;
    font-weight: bold;
    
}

input{
    padding: 10px;
    font-size: .8em;
    border: none;
    background-color: rgba(255, 255, 255, 0.411);
    border-radius: 10px;
    box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.432);
}
input:hover{
    background-color: white;
    border-radius: 10px;
    transition: .6s;
  
   
}

#peso{
    margin-top: 10px;
    width: 200px;
}

#altura{
    width: 127px;
}
.div_btn{
    text-align: center;
}
button{
    font-size: 1em;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: transparent;
    font-weight: bold;
    color: var(--cor1);
    color: darora
}

button:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.493);
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.288);
    transition: .4s;
}

.section_two{
    margin-top: 20px;
    padding: 10px;
}

label{
    text-align: left;
    color: var(--cor1);
}
  
.title_result{
    text-align: center;
    margin-bottom: 20px;

}