@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor1: #BD2A2E;
    --cor2: #3B3936;
    --cor3: #B2BEBF;
    --cor4: #889C9B;
    --cor5: #486966;     
}

body{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(45deg, var(--cor3), transparent);
    position: relative;
    text-align: center;
}

main{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.226);
    padding: 20px;
    border-radius: 15px;
    font-size: 2em;
}



